/Base.class
/Bear.class
/Capture.class
/Mouse.class
/Sub1.class
/Sub2.class
/Trap.class
/TrapMain.class
/TypeInference.class
/Variant.class
/Variant2.class
/Variant3.class
/Weekday$Sub.class
/Weekday.class
